h1{text-align:center}
h1{color:grey}

hr{
    margin-bottom:100px;
}

.blue{
    background-color:#ffa1b5 ;
    border-color: #ffa1b5!important;
}
.yellow{
  background-color:#86c7f3 ;
  border-color: #86c7f3!important;
}
.pink{
    background-color: #ffe29a;
    border-color: #ffe29a!important;
}








