<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Covid-19</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Countries">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Local">Local</a>
        </li>
      </ul>
    </div>
  </nav>
